@tailwind base;
@tailwind components;
@tailwind utilities;



/* global.css */
@media (prefers-color-scheme ) {
  :root {
    --background: #1a202c; 
    --text-color: #edf2f7; 
  }

  body {
    background-color: var(--background);
    color: var(--text-color);
  }
}
